commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update 1.4.2

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: zlib.output_compression
    value: Off
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: allow_url_fopen
    value: On
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: display_errors
    value: On
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: max_execution_time
    value: 60
